<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- MS SQL Server 2008 -->
    <add key="mssqlDatabaseName" value="University" />
    <add key="mssqlDatabaseLocation" value="...\sqlexpress" />
    <!-- MS SQL Server 2008 -->
    <!-- MS Access -->
    <add key="accessDatabaseLocation" value="..\..\databases\" />
    <add key="accessDatabaseName" value="Library" />
    <add key="accessDatabaseExtention" value=".mdb" />
    <!-- <add key="accessDatabaseProvider" value="Microsoft.Jet.OLEDB.4.0" /> -->
    <!-- MS Access -->
    <!-- SQLite -->
    <add key="sqliteDatabaseLocation" value="..\..\databases\" />
    <add key="sqliteDatabaseName" value="Library" />
    <add key="sqliteDatabaseExtention" value=".sqlite" />
    <!-- <add key="accessDatabaseProvider" value="Microsoft.Jet.OLEDB.4.0" /> -->
    <!-- SQLite -->

  </appSettings>
    <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Remotion.Linq" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Remotion.Linq.EagerFetching" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>